.header__bg {
  background-size: cover; /* Always try to fit elem in box */
  background-position: top; /* Ensure bg img always at top */
  position: absolute;
  top: 0;
  height: 95vh;
  width: 100vw;
  transform: scale(1.1);
  z-index: 0;
}
